@color-lr-green:  #28c089;
@color-lr-green-light: #3bd69e;

@color-lr-orange: #f78320;

@color-lr-blue:   #4cb7cd;
@color-lr-blue: #4cb7cd;

@color-black-absolute: #000;
@color-black-dark: #222;
@color-black-medium: #333;

@color-grey: #999;
@color-grey-light: #a6a6a6;

@color-white: #fff;

//@color-lr-green: #009999;
