#site-footer{
  background: #111;
  padding: 38px 0 67px 0;
  color: #fff;
  font-family: @font-brandon-light;

  a{
    color: #a9afb3;
    &:hover{
      color: @color-lr-green;
      text-decoration: none;
    }
  }
  #footer-menu ul, #footerLinks{
    font-size: 17px !important;
    li{
      margin-right: 16px;
      font-family: @font-brandon-light;
    }
  }
  #footerLinks{
    list-style: none;
    padding-left: 0;
    margin-top: 35px;
    margin-bottom: 0;
    li{
      display: inline;
      display: inline-block;

    }
  }


  #credit, #copyright{
    h3{
      color: white;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
      font-family: @font-brandon-light;
      font-weight: normal;
      font-size: 20px;
    }
  }

  #credit{
    #footer-social{

      ul{
        li{
          font-size:40px;
        }
      }
    }
  }

  #copyright{
    .copyright{
      color:#545454;
      font-size: 16px;
      line-height: 25px;
      font-family: @font-brandon-light;
    }
  }
}