#destinationsMenu{
  background: #d7d8d8;
  text-align: left;
  color: #fff;
  padding: 25px 0 0 0;
  //display: inline-block;
  //position: absolute;
  width: 100%;
  //top: -475px;
  //left: 0;
  //z-index: 9999;
  font-family: @font-body;

  a{
    &:link,
    &:visited{
      font-weight: normal;
      color: #000;
      font-size: 15px;
      line-height: 25px;
      margin: 0;
      padding: 0;
      text-align: left;
      text-decoration: none;
    }
    &:hover{
      color:#28c089;
    }
  }

  h3{
    margin:0 0 -6px 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: -.1rem;
  }

  h4{
    margin:0 0 -8px 0;
    line-height: 1.35;
    font-size: 30px;
    font-weight: 300;
    &.topDestinationTlt{
      a{
        &:link,
        &:visited{
          text-transform: initial;
          text-decoration: none;
          margin: 0 0 0 0;
          text-align: left;
          color: #000;
          display: inline-block;
          width: 100%;
          background: none;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

  }

  #destinationsMenuWrapper{
    color: #000;


    .footerTlt{
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: @font-bold;
      //margin-left: -15px;
    }
    #hideDestinations{
      margin-left:13px;
      text-transform: capitalize;
    }
  }

  .hideDestGuide{
    &:visited,
    &:link{
      color: #28c089;
      padding-right: 12px;
      background: url(https://resources.luxuryretreats.com/www/images/v5/showHideArrow.png) no-repeat right -5px;
      background-size: 8px 17px;
    }
  }


  .topDestinationTlt{
    a{
      &:link,
      &:visited{
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 0 -8px 0;
        text-align: left;
        color: #000;
        display: inline-block;
        width: 100%;
        background: none;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: normal;
      }
      &:hover{
        color:#28c089;
      }
    }
  }

  ul{
    list-style: none;
    padding-left: 0;
    &.topDestinationListBlock{
      min-height: 400px;
      li{
        ul{
          margin: 0 0 14px 0;
          padding: 0;

          li{
            display: block;
            float: none;
            position: relative;
            margin-top: -1px;
            margin-bottom: -8px;
            text-align: left;

            ul{
              margin-bottom:4px;
              li{
                display: block;
                float: none;
                position: relative;
                margin-top: -1px;
                margin-bottom: -8px;
                text-align: left;
                background: url(https://resources.luxuryretreats.com/www/images/v5/footerBullet.gif) no-repeat 2px 9px;
                padding-left: 12px;
              }
            }

          }

        }
      }
    }
  }

}

#site-footer{
  background: #111;
  padding: 38px 0 67px 0;
  color: #fff;
  font-family: @font-thin;
  margin-top: 0 !important;

  a{
    color: #a9afb3;
    &:hover{
      color: @color-lr-green;
      text-decoration: none;
    }
  }
  #footer-menu ul, #footerLinks{
    font-size: 17px !important;
    li{
      font-size: 16px;
      font-family: @font-thin;
      margin-right: 5px;
    }
  }
  #footerLinks{
    list-style: none;
    padding-left: 0;
    margin-top: 35px;
    margin-bottom: 0;
    li{
      display: inline;
      display: inline-block;

    }
  }

  #credit, #copyright{
    h3{
      color: white;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
      font-family: @font-thin;
      font-weight: normal;
      font-size: 20px;
    }
  }

  #credit{
    #footer-social{

      ul{
        li{
          font-size:40px;
        }
      }
    }
  }

  #copyright{
    .copyright{
      color:#545454;
      font-size: 16px !important;
      line-height: 25px;
      font-family: @font-thin;
    }
  }

  #footer-social{
    h3{
      text-align: right;
      margin-right: 15px;
    }
    .social-icons-list();

    ul{
      text-align: right;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: bottom;
      padding-left: 0;
      li{
        .social-link-colors();

        a{
          &.contact-facebook,
          &.contact-twitter,
          &.contact-instagram,
          &.contact-pinterest,
          &.contact-linkedin,
          &.contact-youtube,
          &.contact-googleplus,
          &.contact-flickr,
          &.contact-tumblr,
          &.contact-vimeo,
          &.contact-slideshare{
            //font-size: 0.5em;
          }
        }

      }

    }
  }


}

.newsletterRow{
  background: #1e2122 url('https://resources.luxuryretreats.com/www/images/v5/newsletter_bg.jpg') no-repeat;
  background-size: cover;
  padding: 55px 0 15px;
  min-height: 130px;
  color: white;
  #newsletterFormWrapper{
    .gform_wrapper{
      .newsletter-subscribe{
        .gform_heading,
        .gform_body,
        .gform_footer{
          width: 100%;
          display: inline;
          display: inline-block;
          vertical-align: top;
        }

        .gform_heading{
          margin-bottom: 15px;
          font-size: 18px;
          h3{
            margin-top: 0;
            color: white;
            font-family: @font-body;
            font-size: 24px;
          }
        }
        .gform_footer{

          .gform_button{
            width: 100%;
            height: 60px;
            text-transform: uppercase;
            .border-radius(0);
            font-family: @font-bold;
            font-size: 18px;
          }
        }

        .gform_body{

          .gform_fields{

            .gfield{
              width: 100%;
              display: inline;
              display: inline-block;
              margin: 0 0 10px 0;
              label{
                .sr-only();
              }

              input{
                .border-radius(0);
                border: none;
                width: 100%;
                outline: medium none;
                color: #fff;
                background: #75706f;
                background: rgba(255,255,255,.2);
                height: 60px;
                font-size: 22px;
                padding-left: 10px;

                &::-webkit-input-placeholder {
                   font-family: @font-proximanova-reg-it;
                }

                &:-moz-placeholder { /* Firefox 18- */
                   font-family: @font-proximanova-reg-it;
                }

                &::-moz-placeholder {  /* Firefox 19+ */
                   font-family: @font-proximanova-reg-it;
                }

                &:-ms-input-placeholder {
                  font-family: @font-proximanova-reg-it;
                }

              }
            }
          }
        }

      }
    }
  }
}

@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

@media only screen and (max-width: @screen-sm){
  #destinationsMenu{
    .container{
      //margin-right: auto;
      //margin-left: auto;
      padding-left: 45px;
      padding-right: 15px;
    }
  }
  #site-footer{
    #copyright{
      padding-bottom: 25px;
      #footerLinks{
        li{
          margin-bottom: 15px;
        }
      }
      #footerLinks,
      .copyright{
        text-align: center;
      }
    }

    .footer-container #footer-social ul,
    #footer-social ul{
      text-align: center !important;
    }


  }

  .newsletterRow{
    #newsletterFormWrapper{
      .gform_wrapper{
        .newsletter-subscribe{
          .gform_heading,
          .gform_body,
          .gform_footer{

          }
        }
      }
    }
  }
}


@media only screen and (min-width: @screen-sm){

   #site-footer{
    #copyright{
      padding-bottom: 25px;
      #footerLinks{
        li{
          margin-bottom: 15px;
        }
      }
      #footerLinks,
      .copyright{
        text-align: center;
      }
    }

    .footer-container #footer-social ul,
    #footer-social ul{
      text-align: center !important;
    }

  }

   .newsletterRow{
     padding: 55px 0;
    #newsletterFormWrapper{
      .gform_wrapper{
        .newsletter-subscribe{

          .gform_heading{
            text-align: center;
            padding-bottom: 15px;
            h3{
              margin-bottom: 15px;
            }
          }
          .gform_body{
            width: 80%;
            .gform_fields{

              .gfield{
                max-width: 47.75%;
                margin: 0 5px;
              }
            }
          }
          .gform_footer{
            width: 18%;
          }
        }
      }
    }
  }

}


/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: @screen-md) {
  .newsletterRow #newsletterFormWrapper,
  #destinationsMenu .container{
    width: 1045px;
  }
  #site-footer{


    .container{
      width: 1045px;
    }
    #copyright{
      padding-bottom: 0;
      #footerLinks{
        li{
          margin-bottom: 0;
        }
      }
      #footerLinks,
      .copyright{
        text-align: left;
      }
    }

    .footer-container{
      #footer-social{
        ul{
          text-align: right;
        }
      }
    }

  }

  .newsletterRow{
    padding: 55px 0 15px;
    #newsletterFormWrapper{
      .gform_wrapper{
        .newsletter-subscribe{
          .gform_heading{
            width: 35%;
            padding-bottom: 0;
            text-align: left;
          }
          .gform_body{
            width: 50%;
            .gform_fields{

              .gfield{
                max-width: 47.75%;
                margin: 0 5px;
              }
            }
          }
          .gform_footer{
            width: 14%;
          }
        }
      }
    }
  }

}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: @screen-lg) {


}
